.error {
  font-size: 20px;
  background-color: grey;
  color: red;
  border: 3px solid red;
  border-radius: 3px;
  padding: 5px;
}

.message {
  font-size: 20px;
  background-color: grey;
  color: green;
  border: 3px solid green;
  border-radius: 3px;
  padding: 5px;
}

.blog {
  padding-top: 10px;
  padding-left: 2px;
  border: 1px solid grey;
  border-width: 1px;
  margin-bottom: 5px;
  font-size: 20px;
}